body {
    margin: 0;
    font-family: 'Crimson Text';
}

.bg-main {
    background-color: #74C69D;
}


.container {
    display: inline-block;
    width: 1000px;
    margin-left: calc(50% - 500px);
    margin-bottom: 30px;
}

.logo {
    width: 100px;
    height: 40px;
    float: left;
    object-fit: contain;
    float: left;
}

.main-menu > a {
    float: right;
    margin-top: 10px;
    color: white;
}

.main-menu > .link {
    display: inline-block;
    margin-left: 2em;
    color: #000;
    font-size: 20px;
    line-height: 1em;
    text-decoration: none;
}

.partner {
    text-align: center;
}

.link:hover {
    text-decoration: underline;
}

.left-column {
    width: 40%;
    float: left;
    margin-left: 10px;
}
.partner-green {
    color: #74C69D;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 125%;
}

.descript{
    font-style: normal;
    font-weight: 700;
    font-size: 40px
}

.partner > .text{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
}

.main-title {
    font-size: 16px;
    color: #FFFFFF;
    font-weight: 700;
    position: relative;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.description {
    font-size: 40px;
    font-weight: 700;
    color: #FFFFFF;
}
.main-text{
    color: #FFFFFF;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 125%;
}

.right-column {
    width: 55%;
    float: right;
}
.right-column > img {
    width: 100%;
}

.brand {
    font-size: 50px;
}

.container-footer {
    background-color: #74C69D;
}
.socials {
    float: left;
}
.socials > .icon {
    margin-right: 1em;
    font-size: 20px;
    line-height: 1em;
    text-decoration: none;
    color: #999;
}
.row-soc > a {
    padding: 2px;
}

.socials > .icon:last-child {
    margin-right: 0;
}
.socials > .icon:hover {
    color: #662c8c;
}

.copyright {
    margin: 0;
    float: right;
}